@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "header.css";

body {
  font-family: "Open Sans", sans-serif;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}
